*.iml
.gradle
/.idea
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/debug
/release
/app/release/app-release.apk
/app/release/output-metadata.json
*~
*.apk
*.idsig
